[
    { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ] },
    { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
    { name: 'styles', items: [ 'Docmaatts', '-', 'Styles' ] },
    '/',
    { name: 'styletools', items: [ 'CopyFormatting', 'RemoveFormat' ] },
    { name: 'clipboard', items: [ 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord' ] },
    { name: 'links', items: [ 'DocmaLink', 'Unlink', 'Anchor' ] },
    { name: 'insert', items: [ 'Image', 'Table', 'CreateDiv', 'SpecialChar', 'PageBreak', 'Templates' ] },
    '/',
    { name: 'tools', items: [ 'ShowBlocks' ] },
    { name: 'editing', items: [ 'SelectAll', '-', 'Find', 'Replace'  ] },
    { name: 'checktools', items: [ 'Scayt' ] },
    { name: 'other', items: [ 'Print', '-', 'BidiLtr', 'BidiRtl' ] },
    { name: 'document', items: [ 'Source' ] },
    { name: 'about', items: [ 'About' ] }
]
