{
    allowedContent: ###allowedContent###,
    baseHref: '###baseHref###',
    contentsCss: '###contentsCss###',
    contentsLanguage: '###contentsLanguage###',
    coreStyles_strike: { element: "span", attributes: { "class": "strike" } },
    coreStyles_underline: { element: "span", attributes: { "class": "underline" } },
    dialog_backgroundCoverOpacity : ###dialog_backgroundCoverOpacity###,
    dialog_noConfirmCancel: ###dialog_noConfirmCancel###,
    disableNativeSpellChecker: ###disableNativeSpellChecker###,
    disableNativeTableHandles: ###disableNativeTableHandles###,
    div_wrapTable: true,
    entities: ###entities###,
    entities_greek: ###entities_greek###,
    entities_latin: ###entities_latin###,
    entities_processNumerical: ###entities_processNumerical###,
    extraPlugins: '###extraPlugins###',
    // filebrowserBrowseUrl: '###serv_url###browse.zul',
    // filebrowserImageBrowseUrl: '###serv_url###browse.zul?type=Images',
    filebrowserUploadUrl: '###filebrowserUploadUrl###',
    filebrowserImageUploadUrl: '###filebrowserUploadUrl###',
    filebrowserWindowWidth: '###filebrowserWindowWidth###',
    filebrowserWindowHeight: '###filebrowserWindowHeight###',
    forcePasteAsPlainText: ###forcePasteAsPlainText###,
    ignoreEmptyParagraph: ###ignoreEmptyParagraph###,
    image2_altRequired: ###image2_altRequired###,
    image2_captionedClass: '###image2_captionedClass###',
    image2_disableResizer: ###image2_disableResizer###,
    indentClasses: ['indent-level1', 'indent-level2', 'indent-level3', 'indent-level4', 'indent-level5', 'indent-level6', 'indent-level7', 'indent-level8', 'indent-level9'],
    justifyClasses: [ 'align-left', 'align-center', 'align-right', 'align-full' ],
    keystrokes: [ [ CKEDITOR.CTRL + 83, 'docmaSaveContent' ] ],  // Shortcut Ctrl+S
    language: '###language###',
    removeButtons: '###removeButtons###',
    removePlugins: 'link',
    resize_enabled: false,
    skin: '###skin###',
    stylesSet: 'docma_styles',
    specialChars: ###specialChars###,
    templates: 'docma_templates',
    templates_files: ['###templates_files###'],
    templates_replaceContent: false,
    toolbar: ###toolbar###,
    toolbarLocation: '###toolbarLocation###',
    uiColor: '###uiColor###',
    on: {
        'instanceReady': function(evt) { docmaCKInstanceReady(evt) },
        'focus': function(evt) { docmaCKFocus(evt) },
        'pluginsLoaded': function(evt) { docmaCKPluginsLoaded(evt) }
    }
}
